* text=auto eol=lf
*.bat text eol=crlf
*.so binary
*.dylib binary
*.lockfile -diff
.run/*.run.xml -diff
gradlew -diff
gradlew.bat -diff
spring-boot-admin/src/main/resources/META-INF/spring-boot-admin-server-ui/extensions/jklee/jklee.js -diff
spring-boot-admin/src/main/resources/META-INF/spring-boot-admin-server-ui/extensions/jklee/jklee.js.map -diff
